* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-family: 'Montserrat';
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(90px, auto) repeat(5, 90px);
    background-color: gray;
    padding: 23px;
    border: 4px solid black;
    border-radius: 53px;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background: #978fa0;
    word-wrap: break-word;
    word-break: break-all;
    grid-area: 1/1/2/span 4;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 21px;
    border: 5px solid #244624;
}
.output1 {
    font-size: 1.3rem;
    opacity: 0.5;
}
button {
    outline: none;
    border: 2px solid #978fa0;
    user-select: none;
    cursor: pointer;
    width: 100px;
    height: 90px;
    font-size: 2rem;
    background: #fff;
    border-radius: 20px;

}
button:hover {background: #c7c5c5;}
.equal {grid-area: 6/3/7/5;}
.clearAll {grid-area: 2/1/3/3;}
.clear {grid-area: 2/3/3/4;}
.operators { grid-area: 2/4/6/5;}
.operators {
    display: flex;
    flex-direction: column;
}
.operators > .btn {
    flex: 1
}
